.border-box{
    background-color: #fdfdfe;
    color: #565656;
 
    border:2px dashed #c9c9c9;
}
.blue{
    width: 10px;
    height: 10px;
}
.img-hover {
    position: relative;
  }
  .img-hover .text {
    position: absolute;
    display: none;
    direction: rtl;
    color: white;
    bottom: 25px;
    right: 10px;
  }
  .img-right:hover{
      filter:contrast(200%) brightness(50%);
  }
  .img-right:hover + .text {
    display: block;
  }
.labels{
  
}
.card{
    background-color: #fefefe !important;
    text-align: center;
}
.card-footer{
    height: 50px;
}

@media screen and (max-width:550px) {
    .labels{
        height: 35px;
    }
}