.left-box-ph{
    background-color: #ffffe5;
    border: 2px #f7efd2 solid;
}

.left-box p{
    text-align: justify;
}
.poz {
    transform: skew(-20deg);
    background: rgb(236, 236, 236);
    font-size: 11px;

}
