.slider1 .carousel-control-prev-icon {
  background-image: url(../img/angle-left.png);
}

.slider1 .carousel-control-next-icon {
  right: 600%;
  background-image: url(../img/angle-right.png);
}

.prev,
.next {
  background-color: rgb(138, 138, 138) !important;

  border: none;
}

.line {

  padding-right: 10px;
  margin-top: 20px;
  margin-right: 10px;
  border-right: 2px solid #ccc;
}

.box-photo2 {
  background-image: url(../img/card2.png);
  background-size: cover;
  padding: 30px 100px;
  margin-top: 50px;

}

.card {
  background-color: transparent !important;

}

.comment-text {
  padding-right: 20px;
  margin-top: 15px;
  margin-right: 15px;
  border-right: 2px solid #ccc;
}

.upper-footer img {
  border-right: solid #ccc;
  object-fit: unset;
  filter: grayscale(50%);
}

.upper-footer img:hover {
  filter: none;
  opacity: 10px;
}
.card:hover {
  background-color: #aca1a1;
}
.card-body :hover {
  background-color: rgb(168, 168, 168);
}

.card2 .col-lg-3 {
  padding-top: 30px;
}

.card2 .col-lg-3:hover {
  background-color: #1172D3;
  transition-duration: .5s;
}

/* end card2 */
/* start slider2 */
.slider2 .carousel-control-prev-icon {
  background-image: url(../img/angle-left.png);
}

.slider2 .carousel-control-next-icon {
  right: 600%;
  background-image: url(../img/angle-right.png);
}


/* end nav */
.card2 .col-lg-3:hover{
  background-color: #1172D3;
  transition-duration: .5s;
}
@media screen and (max-width:550px) {
  .dropdown-divider{
display: none;
  }
}
